body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/ps_background.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:unset;
    margin: 5px;
    text-align: left;
    color: #523819;
}
.navbar {
    background-color: #EBBC6F;
    margin-top: 10px;
    margin-bottom: 10px;
}
h1 {
    font-size: 150%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}
h2 {
    font-size: 140%;
    color: #0D3427;
    text-align: center;
    margin-top: 10px;
}
p {
    font-size: 100%;
    color: white;
}
table {
    background-color:white;
    opacity: 0.80;
    border-color: #000000;
    border-width: thin;
    border-collapse: collapse;
    border-radius: 7px;
    width: 100%;
}
.col-sm-8{
    background-color: white;
    padding-top: 15px;
    opacity: 0.90;
}
.col-sm-4 {
    background-color: white;
    padding-top: 15px;
    opacity: 0.90;
}
#results {
    background-color: #EBBC6F;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p:hover {
    color: white;
    background-color: blue;
}
th {
    border-color: #000000;
    font-size: 110%;
    color: black;
    text-align: center;
}
td {
    border-color: #000000;
    font-size: 95%;
    color: black;
    padding: 5px;
}
img {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    border: 0px;
}
/* .indent {
    margin-left: 12.5px;
} */

/* .container {
    background-color: tomato;
    opacity: 0.80;
} */
.btn {
    background-color: #06258F;
    margin-bottom: 2%;
}
footer {
    background-color: #EBBC6F;
    color: white;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
