body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/ps_background.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:unset;
    margin: 5px;
    text-align: left;
    color: #523819;
}
h1 {
    font-size: 150%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}
h2 {
    font-size: 140%;
    color: #0D3427;
    text-align: center;
    margin-top: 10px;
}
p {
    font-size: 100%;
    color: white;
}
table {
    background-color:white;
    opacity: 0.80;
    border-color: #000000;
    border-width: thin;
    border-collapse: collapse;
    border-radius: 7px;
    width: 75%;
}
p:hover {
    color: white;
    background-color: blue;
}
th {
    border-color: #000000;
    font-size: 120%;
    color: black;
    text-align: center;
}
td {
    border-color: #000000;
    font-size: 100%;
    color: black;
    padding: 5px;
}
img {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    border: 0px;
}
.indent {
    margin-left: 78px;
}